<!-- About Section -->
<section id="about" class="about">
        <div class="container text-center">
            <header>
                <h2>Burrito Express is created</h2>
                <h3>We began from friendship</h3>
            </header>
            <p class="lead">It all started in 2010, when I built a wooden altar for my new Indu neighbors across the street.  That is when our strong friendship began.
                Our neighbors, Sony and Rika Patel are the owners of Ameristar located on 48 & 73.  As time passed, we moved away, but still kept in contact.  One day Sony approached me and said he wanted something good and different
                to offer their customers.  
                This is how the idea of Burrito Express was born.  BEx is family owned and operated by Hector and Blanca Cervantes.  Blanca is from the state of Chihuahua, Mexico, and Hector is from southern New Mexico.  Together, we bring recepies and ideas from the delicious food from both of those places.  The salsas are inspirations from Hector's mama and hermanas.  
                We opened the doors on June 2018, and God Willing will remain open for a very long time.
            </p>
            <p class="lead"> We appreciate all of your support for BEx as we are here to serve the Dayton area.  If you have any ideas or comments, feel free to contact us.</p>
        </div>
    </section>
    <!-- End About Section -->