<!-- Services Section -->
<section id="services" class="services">
    <div class="container text-center">
        <header>
            <h2>We provide the following meals</h2>
            <h3>Our Specialities</h3>
        </header>

        <div class="row">
            
            <!-- item -->
            <div class="dish">
                <div class="profile">
                    <img src="img/torta3.jpg" class="img-responsive" alt="dish name">
                    <div class="price">
                        <span>17$</span>
                    </div>
                </div>
                <div class="text">
                    <h4>Mexican Hoagie "Torta"</h4>
                    <p>The Torta is a Mexicn hoagie built on a a soft tasty hogie bun.  You can have your Torta made with any meat you like, plus add any topping you'd like.</p>
                </div>
            </div>

            <!-- item -->
            <div class="dish">
                <div class="profile">
                    <img src="img/chicken_tinga_quesadillas_3.jpg" class="img-responsive" alt="dish name">
                    <div class="price">
                        <span>17$</span>
                    </div>
                </div>
                <div class="text">
                    <h4>Grilled Quesadilla</h4>
                    <p>Quesadilla is the Mexican version of a grilled cheese sandwitch!  We grill a tortilla with cheese, and we can add any meat filling you would like.  Grilled chicken seems to be a popular choice for quesadillas.  You can also just enjoy a simple cheese only quesadilla for a light snack.</p>
                </div>
            </div>

            <!-- item -->
            <div class="dish">
                <div class="profile">
                    <img src="img/dish-a.png" class="img-responsive" alt="dish name">
                    <div class="price">
                        <span>17$</span>
                    </div>
                </div>
                <div class="text">
                    <h4>Loaded Bowl</h4>
                    <p>This is also known as the naked burrito since it contains all the fillings of your choice, minus the tortilla.  Great option for those looking to cut back on the carbs!</p>
                </div>
            </div>

            <!-- item -->
            <div class="dish">
                <div class="profile">
                    <img src="img/dish-a.png" class="img-responsive" alt="dish name">
                    <div class="price">
                        <span>17$</span>
                    </div>
                </div>
                <div class="text">
                    <h4>Hunt Brothers Pizza (r)</h4>
                    <p>We now serve Hunt Brother Pizza and Wings!  Hunt Bros. know pizza and we have embraced their expertice in them; after all, we are a burrito shop!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Dishes Section -->
