<!-- Footer -->
            <footer id="mainFooter" class="mainFooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 brief">
                            <div class="header">
                                <img src="img/600x600-logo1.png" alt="italiano" width="100">
                            </div>
                            <p>Burrito Express is here to offer you the a new take on burritos.  Our burritos are made fresh to order right in front of you.  The salsas and guac are made fresh every day and are so delicious!</p>
                        </div>

                        <div class="col-md-4 contact">
                            <div class="header">
                                <h6>Contact</h6>
                            </div>
                            <ul class="contact list-unstyled">
                                <li><span class="icon-map text-primary"></span>7550 State Route 48 Waynesville, OH 45068</li>
                                <li><a href="mailto:burritoexpress2018@gmail.com"><span class="icon-mail text-primary"></span>burritoexpress2018@gmail.com</a></li>
                                <li><span class="icon-phone text-primary"></span>937.557-0369</li>
                            </ul>
                        </div>

                        <div class="col-md-4 newsletter">
                            <div class="header">
                                <h6>Join our club</h6>
                            </div>
                            <p>Join our loyalty program to earn free burritos on every visit.</p>
                            <form action="#" id="subscribe" class="clearfix">
                                <button type="submit" class="btn-unique has-border pull-left">Subscribe</button>
                            </form>
                        </div>
                    </div>

                    <ul class="social list-unstyled list-inline">
                        <li><a href="https://www.facebook.com/yourburritoexpress" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a></li>
                    </ul>
                </div>

                <div class="copyrights">
                    <div class="container">
                        <div class="row">
                          
                            <div class="col-sm-7">
                                <p>&copy; 2017 Italiano Restaurant. Template By <a href="https://bootstraptemple.com/" target="_blank">BootstrapTemple.com</a></p>
                                <!-- Please do not remove the backlink to us unless you have purchased the attribution-free license at https://bootstraptemple.com. It is part of the license conditions. Thanks for understanding :) -->
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->