<!-- Hero Section -->
            <section id="hero" class="hero">
                <div id="slider" class="sl-slider-wrapper">

                    <div class="sl-slider">
                        <!-- slide -->
                        <div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                            <div class="sl-slide-inner" style="background-image: url(img/hero-bg.jpg);">
                                <div class="container">
                                    <h2>Welcome to  <span class="text-primary">Burrito Express</span></h2>
                                    <h1>Delicious Burritos To Go</h1>
                                    <p>Enjoy delicious burritos made to order.  We have a lot of choices to offer; beef barbacoa, pork carnitas, chicken tinga, grilled chicken, and steak.</p>
                                </div>
                            </div>
                        </div>
                        <!-- slide -->
                        <div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                            <div class="sl-slide-inner" style="background-image: url(img/torta3.jpg);">
                                <div class="container">
                                    <h1>Tortas - The Mexican Hogies</h1>
                                    <p>Tortas are prepared on a delicious and soft hoagie bun.  These are a good change of pace from a burrito.  Try them with any meat of your choice, with all the toppings you like and guacamole.</p>
                                </div>
                            </div>
                        </div>
                        <!-- slide -->
                        <div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                            <div class="sl-slide-inner" style="background-image: url(img/hero-bg03.jpg);">
                                <div class="container">
                                    <h2>Try our Quesadillas at <span class="text-primary">Burrito Express</span></h2>
                                    <h1>Grilled to perfection </h1>
                                    <p>Our Quesadillas taste so delicious because we use Chihuahua Cheese, from the cheese capital of Mexico.  Try them with any meat, cheese only - you will love them!</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End sl-slider -->

                    <!-- slider pagination -->
                    <nav id="nav-dots" class="nav-dots">
                        <span class="nav-dot-current"></span>
                        <span></span>
                        <span></span>
                    </nav>

                    <!-- scroll down btn -->
                    <a id="scroll-down" href="#about" class="hidden-xs"></a>

                    <!-- social icons menu -->
                    <div class="social">
                        <div class="wrapper">
                            <ul class="list-unstyled">
                                <li><a href="https://www.facebook.com/yourburritoexpress/" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                            <span>Follow us on</span>
                        </div>
                    </div>
                </div><!-- End slider-wrapper -->
            </section><!-- End Hero Section -->