<!-- Menu Section -->
<section id="menu" class="menu">
        <div class="container">
            <header class="text-center">
                <h2>BEx menu</h2>
                <h3>Call 937.557-0369 or <a href="https://www.toasttab.com/burritoexpress/v2/online-order#!/" target="_new" class="btn navbar-btn btn-unique hidden-sm hidden-xs">Order Online</a></h3>
            </header>

            <div class="menu">
                <!-- Tabs Navigatin -->
                <ul class="nav nav-tabs text-center has-border" role="tablist">
                    <li role="presentation" class="active"><a href="#mainitems" aria-controls="mainitems" role="tab" data-toggle="tab">Main Items</a></li>
                    <li role="presentation"><a href="#lunch" aria-controls="lunch" role="tab" data-toggle="tab">Breakfast</a></li>
                    <li role="presentation"><a href="#protein" aria-controls="protein" role="tab" data-toggle="tab">Protein</a></li>
                    <li role="presentation"><a href="#family" aria-controls="family" role="tab" data-toggle="tab">Family Deals</a></li>
                    <li role="presentation"><a href="#drinks" aria-controls="drinks" role="tab" data-toggle="tab">Drinks</a></li>
                    <li role="presentation"><a href="files/bex-menu.pdf" target="_new"><i class="fas fa-file-download"></i></a></li>
                </ul>

<!-- Tab panes -->
<div class="tab-content">

        <!-- Main Menu Panel -->
        <div role="tabpanel" class="tab-pane active" id="mainitems">
            <div class="row">
                
                <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Burrito</h5>
                            <p>Your choice of protein wrapped in a delicious flour tortilla, plus all th toppings of your choice</p>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">Reg - $7.69  Med - $5.19  Add Guac - $0.99</strong>
                            <span class="text-medium">Recommended</span>
                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Torta - Mexican Hoggie</h5>
                            <p>Any protein plus toppings of your choice.  Try the Cheese Steak, it is delicious!</p>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">$5.99</strong>

                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Loaded Bowl</h5>
                            <p>AKA "The Naked Burrito"!  Choice of protein, plus all the toppings you desire.</p>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">$7.69  Add Guac - $0.99</strong>
                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Grilled Quesadilla</h5>
                            <p>Your choice of meats, melted cheese grilled between two tortillas.  This is a major quesadilla and will fill you up!</p>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">$6.24  Cheese Only - $3.49   Add Guac - $0.99</strong>
                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Chips & Guacamole</h5>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">$2.99</strong>
                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item recommended has-border clearfix">
                        <div class="item-details pull-left">
                            <h5>Chips & Salsa</h5>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">$1.99</strong>
                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Chips and Nacho Queso</h5>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">$3.49</strong>
                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Macho Nachos</h5>
                            <p>Loaded nachos with your choice of protein and toppings</p>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">$6.24</strong>

                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Corn Dog</h5>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">$1 or 2 for $1.50</strong>
                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Pretzel</h5>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">$1  Add Cheese Dip $0.50</strong>
                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Hunt Bros Pizza</h5>
                            <p>Any way you like, any toppings, same price</p>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">Whole - $9.99, Additionals - $8.99  Pizza Slice - $2.89  Double Slice - $5.49 </strong>
                        </div>
                    </div>
                </div>
                 <!-- item -->
                 <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Hunt Bros Wings</h5>
                            <p>Traditional or boneless wingbites(r), they are very tasty.</p>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">$3.79</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Proteins Panel-->

        <!-- Breakfast Panel -->
        <div role="tabpanel" class="tab-pane fade" id="lunch">
            <div class="row">
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item recommended has-border clearfix">
                        <div class="item-details pull-left">
                            <h5>Breakfast Burrito</h5>
                            <p>Burrito with eggs, bacon, suasage, and any other toppings.</p>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">$3.99   Add Guac - $0.99</strong>
                            <span class="text-medium">Recommended</span>
                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Biscuit Sandwich</h5>
                            <p>Egg, cheese, bacon, or sausage</p>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">Single - $2.99  Double - $4.99</strong>

                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Bagle Breakfast</h5>
                            <p>Egg, cheese, bacon, or sausage on a plain bagle!</p>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">$3.49</strong>
                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Hashbrown Patty</h5>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">$0.99$</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End lunch Panel-->

        <!-- Protein Panel -->
        <div role="tabpanel" class="tab-pane fade" id="protein">
            <div class="row">
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item recommended has-border clearfix">
                        <div class="item-details pull-left">
                            <h5>Beef Barbacoa</h5>
                            <p>Amazingly tender shredded beef cooked slowly to retain its full flavor. Great on any burro and torta!</p>
                        </div>
                        <div class="item-price pull-right">
                            <span class="text-medium">Tasty meats</span>
                        </div>
                    </div>
                </div>
                <!-- item -->
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Pork Carnitas</h5>
                            <p>Slow cooked, spicy, shredded pork shoulder, finished in the oven for browning with a slight touch of citrus.</p>
                        </div>
                        <div class="item-price pull-right">
                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item recommended has-border clearfix">
                        <div class="item-details pull-left">
                            <h5>Grilled Chicken</h5>
                            <p>Fajita seasoned white chicken breast!</p>
                        </div>
                        <div class="item-price pull-right">
                            <span class="text-medium">Recommended</span>
                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Chicken Tinga</h5>
                            <p>Shredded chicken made in a tomato, chipotle, and adobo sauce. Explosion of delicious flavor!</p>
                        </div>
                        <div class="item-price pull-right">
                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Steak</5>
                            <p>Tender, Philly stile steak</p>
                        </div>
                        <div class="item-price pull-right">
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Protein Panel-->

        <!-- Family Meal Panel -->
        <div role="tabpanel" class="tab-pane fade" id="family">
            <div class="row">
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item recommended has-border clearfix">
                        <div class="item-details pull-left">
                            <h5>Family meals</h5>
                            <p>Your choice of any meat, or even a combination of two meats with sides of salsas, pico de gallo, or any topings you wish.  This meal includes tortillas to go with your meal.  We can deo meals for 4 or 6 persons.</p>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">4 person - $20.99  6 person - $24.99</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Party Panel-->

        <!-- Drinks Panel -->
        <div role="tabpanel" class="tab-pane fade" id="drinks">
            <div class="row">
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Jarritos</h5>
                            <p>Delicious mexican soda made with real sugar!</p>
                            <ul>
                                <li>Tamarind</li>
                                <li>Mango</li>
                                <li>Lime</li>
                                <li>Fruit Punch</li>
                                <li>Pineapple</li>
                                <li>Mandarin</li>
                            </ul>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">$1.60</strong>
                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="col-sm-6">
                    <div class="menu-item clearfix">
                        <div class="item-details pull-left">
                            <h5>Cocal-Cola</h5>
                            <p>Mexican Coke tastes so good!</p>
                        </div>
                        <div class="item-price pull-right">
                            <strong class="text-large text-primary">$1.75</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Drinks Panel-->
    </div>
</div>
</div>
</section>
<!-- End Menu Section -->