          <!-- Navbar -->
          <header class="header">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header"><a href="/" class="navbar-brand"><img src="img/burrito_express_name_2.png" alt="BEx" width="100"></a>
                            <div class="navbar-buttons">
                                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
                            </div>
                        </div>
                        <div id="navigation" class="collapse navbar-collapse navbar-right">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#hero">Home</a></li>
                                <li><a href="#about">About BEx</a></li>
                                <li><a href="#proteins">Proteins</a></li>
                                <li><a href="#dishes">Dishes</a></li>
                                <li><a href="#menu">Menu</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                            <a href="https://www.toasttab.com/burritoexpress/v2/online-order#!/"  class="btn navbar-btn btn-unique hidden-sm hidden-xs" >Order Online</a>
                        </div>
                    </div>
                </nav>
            </header><!-- End Navbar -->