<!-- Menu Style Tab Section
====================================-->
<div id="menu_four">
   
	<div class="clr">
        <div class="top-bg1">
           <h1><img src="assets/images/heading_sideimg1.png" alt="" class="design_marright" />Menu<img src="assets/images/heading_sideimg1.png" alt="" class="design_marleft" /></h1>
        </div>
        <div class="clr">
            <span class="pat-bottomleft">&nbsp;</span>
            <span class="pat-bottomright">&nbsp;</span>        </div>
	</div>
    
    <div class="content_pat_bg">
        <div class="tag"><span>Opened in 2008, Cafe Slide is a casual fine dining restaurant </span>, offering  American cuisine and warm hospitality in a rustic historically preserved building.</div>
        
        
        <div class="clearfix">
        <div id="menutab_flex" class="flexslider">
            <ul class="slides">
            <li><a href="#"><img src="assets/images/menu4.jpg" alt="" class="img-responsive" /></a></li>
			<li><a href="#"><img src="assets/images/menu5.jpg" alt="" class="img-responsive" /></a></li>
            <li><a href="#"><img src="assets/images/menu6.jpg" alt="" class="img-responsive" /></a></li>
           </ul>
           </div>
           </div>
           
           <!-- Menu Section
====================================-->
<div id="todaymenu">
   
	  <!-- <div class="clr">
     <div class="top-bg1">
           <h1><img src="assets/images/heading_sideimg1.png" alt="" class="design_marright" />Menu<img src="assets/images/heading_sideimg1.png" alt="" class="design_marleft" /></h1>
        </div>-->
        

    
    <div class="clearfix">
        <div class="clearfix">
        <div class='tabbable'>
              <ul class='nav1 nav-tabs' id='tab'>
                <li class='active'><a data-toggle='tab' href='#tab-content-1'>Breakfast</a></li>        
                <li><a data-toggle='tab' href='#tab-content-2'>Lunch</a></li>
                <li><a data-toggle='tab' href='#tab-content-3'>Dessert</a></li>
                <li><a data-toggle='tab' href='#tab-content-4'>Starters</a></li>
              </ul>
      
	  <div class='tab-content' id='tab-content'>
	  <div class='tab-pane fade in active' id='tab-content-1'><!--tab-content-1-->
                <!--Toggle 1
                ===============-->	
                	
                <div class="col-md-12 clearfix">
                <div class="toggle-container">
                <div class="toggle-header">
                <h3 class="toggle-link toggle-open">Appetizers</h3>
                </div>
                <div class="toggle-content">
					<div class="title-splider clearfix">
                     <h5><span class="left">Pot Stickers (6)</span><span class="right color">$12.00</span></h5>
                     </div>
                    <p>(fried dumplings filled with ground pork and vegetables)</p>
                    
                    <div class="title-splider clearfix">
                     <h5><span class="left">Satay</span><span class="right color">$7.00</span></h5>
                     </div>
                    <p>  Choice of chicken or beef marinated in thai herbs served with peanut sauce and cucumber salad.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Curry Puff</span><span class="right color">$9.00</span></h5>
                     </div>
                      <p> Puff pastry stuffed with ground chicken, onion, potatoes and curry powder with cucumber salad. </p>
                <div class="clr"></div>	
                </div>
                </div><!--// .toggle-container end-->
               
                
                <!--Toggle 2
                ===============-->		
                <div class="toggle-container">
                <div class="toggle-header">
                <h3 class="toggle-link toggle-open">Soups & Sallads</h3>
                </div>
                <div class="toggle-content">
                   <div class="title-splider clearfix">
                     <h5><span class="left">Tom Yum</span><span class="right color"> $10.00 </span></h5>
                     </div>
<p>Hot and sour shrimp soup with lemongrass kaffir lime leaves and mushroom.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Tom Kha Gai</span><span class="right color"> $8.00 </span></h5>
                     </div>
<p>Aromatic chicken soup rich with coconut milk and flavored with galanga, lemongrass and kaffir lime leaves.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Tofu Soup</span><span class="right color"> $7.00 </span></h5>
                     </div>
<p>Bean curd soup with scallions and mushrooms. </p>
                <div class="clr"></div>	
                </div>
                </div><!--// .toggle-container end-->
                
                <!--Toggle 3
                ===============-->		
                <div class="toggle-container">
                <div class="toggle-header">
                <h3 class="toggle-link toggle-open">Side Dishes </h3>
                </div>
                <div class="toggle-content">
                   <div class="title-splider clearfix">
                     <h5><span class="left">Pot Stickers (6)</span><span class="right color">$12.00</span></h5>
                     </div>
                    <p>(fried dumplings filled with ground pork and vegetables)</p>
                    
                    <div class="title-splider clearfix">
                     <h5><span class="left">Satay</span><span class="right color">$7.00</span></h5>
                     </div>
                    <p>  Choice of chicken or beef marinated in thai herbs served with peanut sauce and cucumber salad.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Curry Puff</span><span class="right color">$9.00</span></h5>
                     </div>
                      <p> Puff pastry stuffed with ground chicken, onion, potatoes and curry powder with cucumber salad. </p>
                <div class="clr"></div>	
                </div>
                </div><!--// .toggle-container end-->
                
                 <!--Toggle 4
                ===============-->		
                <div class="toggle-container">
                <div class="toggle-header">
                <h3 class="toggle-link toggle-open">Lunch & Dinner </h3>
                </div>
                <div class="toggle-content">
                   <div class="title-splider clearfix">
                     <h5><span class="left">Tom Yum</span><span class="right color"> $10.00 </span></h5>
                     </div>
<p>Hot and sour shrimp soup with lemongrass kaffir lime leaves and mushroom.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Tom Kha Gai</span><span class="right color"> $8.00 </span></h5>
                     </div>
<p>Aromatic chicken soup rich with coconut milk and flavored with galanga, lemongrass and kaffir lime leaves.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Tofu Soup</span><span class="right color"> $7.00 </span></h5>
                     </div>
<p>Bean curd soup with scallions and mushrooms. </p>
                <div class="clr"></div>	
                </div>
                </div><!--// .toggle-container end-->
     			</div>
	  </div><!-- // tab-content-1-->
      
	  <div class='tab-pane home_video fade' id='tab-content-2'><!--  tab-content-2-->
                <!--Toggle 1
                ===============-->	
                <div class="col-md-12 clearfix">
                <div class="toggle-container">
                <div class="toggle-header">
                <h3 class="toggle-link toggle-open">Appetizers</h3>
                </div>
                <div class="toggle-content">
					<div class="title-splider clearfix">
                     <h5><span class="left">Pot Stickers (6)</span><span class="right color">$12.00</span></h5>
                     </div>
                    <p>(fried dumplings filled with ground pork and vegetables)</p>
                    
                    <div class="title-splider clearfix">
                     <h5><span class="left">Satay</span><span class="right color">$7.00</span></h5>
                     </div>
                    <p>  Choice of chicken or beef marinated in thai herbs served with peanut sauce and cucumber salad.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Curry Puff</span><span class="right color">$9.00</span></h5>
                     </div>
                      <p> Puff pastry stuffed with ground chicken, onion, potatoes and curry powder with cucumber salad. </p>
                <div class="clr"></div>	
                </div>
                </div><!--// .toggle-container end-->
               
                
                <!--Toggle 2
                ===============-->		
                <div class="toggle-container">
                <div class="toggle-header">
                <h3 class="toggle-link toggle-open">Soups & Sallads</h3>
                </div>
                <div class="toggle-content">
                   <div class="title-splider clearfix">
                     <h5><span class="left">Tom Yum</span><span class="right color"> $10.00 </span></h5>
                     </div>
<p>Hot and sour shrimp soup with lemongrass kaffir lime leaves and mushroom.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Tom Kha Gai</span><span class="right color"> $8.00 </span></h5>
                     </div>
<p>Aromatic chicken soup rich with coconut milk and flavored with galanga, lemongrass and kaffir lime leaves.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Tofu Soup</span><span class="right color"> $7.00 </span></h5>
                     </div>
<p>Bean curd soup with scallions and mushrooms. </p>
                <div class="clr"></div>	
                </div>
                </div><!--// .toggle-container end-->
                
                <!--Toggle 3
                ===============-->		
                <div class="toggle-container">
                <div class="toggle-header">
                <h3 class="toggle-link toggle-open">Side Dishes </h3>
                </div>
                <div class="toggle-content">
                   <div class="title-splider clearfix">
                     <h5><span class="left">Pot Stickers (6)</span><span class="right color">$12.00</span></h5>
                     </div>
                    <p>(fried dumplings filled with ground pork and vegetables)</p>
                    
                    <div class="title-splider clearfix">
                     <h5><span class="left">Satay</span><span class="right color">$7.00</span></h5>
                     </div>
                    <p>  Choice of chicken or beef marinated in thai herbs served with peanut sauce and cucumber salad.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Curry Puff</span><span class="right color">$9.00</span></h5>
                     </div>
                      <p> Puff pastry stuffed with ground chicken, onion, potatoes and curry powder with cucumber salad. </p>
                <div class="clr"></div>	
                </div>
                </div><!--// .toggle-container end-->
                
                 <!--Toggle 4
                ===============-->		
                <div class="toggle-container">
                <div class="toggle-header">
                <h3 class="toggle-link toggle-open">Lunch & Dinner </h3>
                </div>
                <div class="toggle-content">
                   <div class="title-splider clearfix">
                     <h5><span class="left">Tom Yum</span><span class="right color"> $10.00 </span></h5>
                     </div>
<p>Hot and sour shrimp soup with lemongrass kaffir lime leaves and mushroom.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Tom Kha Gai</span><span class="right color"> $8.00 </span></h5>
                     </div>
<p>Aromatic chicken soup rich with coconut milk and flavored with galanga, lemongrass and kaffir lime leaves.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Tofu Soup</span><span class="right color"> $7.00 </span></h5>
                     </div>
<p>Bean curd soup with scallions and mushrooms. </p>
                <div class="clr"></div>	
                </div>
                </div><!--// .toggle-container end-->
     			</div>
	  </div><!-- // tab-content-2-->
      
      <div class='tab-pane home_video fade' id='tab-content-3'><!--  tab-content-3-->
                <!--Toggle 1
                ===============-->	
                <div class="col-md-12 clearfix">
                <div class="toggle-container">
                <div class="toggle-header">
                <h3 class="toggle-link toggle-open">Appetizers</h3>
                </div>
                <div class="toggle-content">
					<div class="title-splider clearfix">
                     <h5><span class="left">Pot Stickers (6)</span><span class="right color">$12.00</span></h5>
                     </div>
                    <p>(fried dumplings filled with ground pork and vegetables)</p>
                    
                    <div class="title-splider clearfix">
                     <h5><span class="left">Satay</span><span class="right color">$7.00</span></h5>
                     </div>
                    <p>  Choice of chicken or beef marinated in thai herbs served with peanut sauce and cucumber salad.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Curry Puff</span><span class="right color">$9.00</span></h5>
                     </div>
                      <p> Puff pastry stuffed with ground chicken, onion, potatoes and curry powder with cucumber salad. </p>
                <div class="clr"></div>	
                </div>
                </div><!--// .toggle-container end-->
               
                
                <!--Toggle 2
                ===============-->		
                <div class="toggle-container">
                <div class="toggle-header">
                <h3 class="toggle-link toggle-open">Soups & Sallads</h3>
                </div>
                <div class="toggle-content">
                   <div class="title-splider clearfix">
                     <h5><span class="left">Tom Yum</span><span class="right color"> $10.00 </span></h5>
                     </div>
<p>Hot and sour shrimp soup with lemongrass kaffir lime leaves and mushroom.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Tom Kha Gai</span><span class="right color"> $8.00 </span></h5>
                     </div>
<p>Aromatic chicken soup rich with coconut milk and flavored with galanga, lemongrass and kaffir lime leaves.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Tofu Soup</span><span class="right color"> $7.00 </span></h5>
                     </div>
<p>Bean curd soup with scallions and mushrooms. </p>
                <div class="clr"></div>	
                </div>
                </div><!--// .toggle-container end-->
                
                <!--Toggle 3
                ===============-->		
                <div class="toggle-container">
                <div class="toggle-header">
                <h3 class="toggle-link toggle-open">Side Dishes </h3>
                </div>
                <div class="toggle-content">
                   <div class="title-splider clearfix">
                     <h5><span class="left">Pot Stickers (6)</span><span class="right color">$12.00</span></h5>
                     </div>
                    <p>(fried dumplings filled with ground pork and vegetables)</p>
                    
                    <div class="title-splider clearfix">
                     <h5><span class="left">Satay</span><span class="right color">$7.00</span></h5>
                     </div>
                    <p>  Choice of chicken or beef marinated in thai herbs served with peanut sauce and cucumber salad.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Curry Puff</span><span class="right color">$9.00</span></h5>
                     </div>
                      <p> Puff pastry stuffed with ground chicken, onion, potatoes and curry powder with cucumber salad. </p>
                <div class="clr"></div>	
                </div>
                </div><!--// .toggle-container end-->
                
                 <!--Toggle 4
                ===============-->		
                <div class="toggle-container">
                <div class="toggle-header">
                <h3 class="toggle-link toggle-open">Lunch & Dinner </h3>
                </div>
                <div class="toggle-content">
                   <div class="title-splider clearfix">
                     <h5><span class="left">Tom Yum</span><span class="right color"> $10.00 </span></h5>
                     </div>
<p>Hot and sour shrimp soup with lemongrass kaffir lime leaves and mushroom.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Tom Kha Gai</span><span class="right color"> $8.00 </span></h5>
                     </div>
<p>Aromatic chicken soup rich with coconut milk and flavored with galanga, lemongrass and kaffir lime leaves.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Tofu Soup</span><span class="right color"> $7.00 </span></h5>
                     </div>
<p>Bean curd soup with scallions and mushrooms. </p>
                <div class="clr"></div>	
                </div>
                </div><!--// .toggle-container end-->
     			</div>
	  </div><!-- // tab-content-3-->
      
      <div class='tab-pane home_video fade' id='tab-content-4'><!--  tab-content-4-->
                <!--Toggle 1
                ===============-->	
                <div class="col-md-12 clearfix">
                <div class="toggle-container">
                <div class="toggle-header">
                <h3 class="toggle-link toggle-open">Appetizers</h3>
                </div>
                <div class="toggle-content">
					<div class="title-splider clearfix">
                     <h5><span class="left">Pot Stickers (6)</span><span class="right color">$12.00</span></h5>
                     </div>
                    <p>(fried dumplings filled with ground pork and vegetables)</p>
                    
                    <div class="title-splider clearfix">
                     <h5><span class="left">Satay</span><span class="right color">$7.00</span></h5>
                     </div>
                    <p>  Choice of chicken or beef marinated in thai herbs served with peanut sauce and cucumber salad.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Curry Puff</span><span class="right color">$9.00</span></h5>
                     </div>
                      <p> Puff pastry stuffed with ground chicken, onion, potatoes and curry powder with cucumber salad. </p>
                <div class="clr"></div>	
                </div>
                </div><!--// .toggle-container end-->
               
                
                <!--Toggle 2
                ===============-->		
                <div class="toggle-container">
                <div class="toggle-header">
                <h3 class="toggle-link toggle-open">Soups & Sallads</h3>
                </div>
                <div class="toggle-content">
                   <div class="title-splider clearfix">
                     <h5><span class="left">Tom Yum</span><span class="right color"> $10.00 </span></h5>
                     </div>
<p>Hot and sour shrimp soup with lemongrass kaffir lime leaves and mushroom.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Tom Kha Gai</span><span class="right color"> $8.00 </span></h5>
                     </div>
<p>Aromatic chicken soup rich with coconut milk and flavored with galanga, lemongrass and kaffir lime leaves.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Tofu Soup</span><span class="right color"> $7.00 </span></h5>
                     </div>
<p>Bean curd soup with scallions and mushrooms. </p>
                <div class="clr"></div>	
                </div>
                </div><!--// .toggle-container end-->
                
                <!--Toggle 3
                ===============-->		
                <div class="toggle-container">
                <div class="toggle-header">
                <h3 class="toggle-link toggle-open">Side Dishes </h3>
                </div>
                <div class="toggle-content">
                   <div class="title-splider clearfix">
                     <h5><span class="left">Pot Stickers (6)</span><span class="right color">$12.00</span></h5>
                     </div>
                    <p>(fried dumplings filled with ground pork and vegetables)</p>
                    
                    <div class="title-splider clearfix">
                     <h5><span class="left">Satay</span><span class="right color">$7.00</span></h5>
                     </div>
                    <p>  Choice of chicken or beef marinated in thai herbs served with peanut sauce and cucumber salad.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Curry Puff</span><span class="right color">$9.00</span></h5>
                     </div>
                      <p> Puff pastry stuffed with ground chicken, onion, potatoes and curry powder with cucumber salad. </p>
                <div class="clr"></div>	
                </div>
                </div><!--// .toggle-container end-->
                
                 <!--Toggle 4
                ===============-->		
                <div class="toggle-container">
                <div class="toggle-header">
                <h3 class="toggle-link toggle-open">Lunch & Dinner </h3>
                </div>
                <div class="toggle-content">
                   <div class="title-splider clearfix">
                     <h5><span class="left">Tom Yum</span><span class="right color"> $10.00 </span></h5>
                     </div>
<p>Hot and sour shrimp soup with lemongrass kaffir lime leaves and mushroom.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Tom Kha Gai</span><span class="right color"> $8.00 </span></h5>
                     </div>
<p>Aromatic chicken soup rich with coconut milk and flavored with galanga, lemongrass and kaffir lime leaves.</p>

					<div class="title-splider clearfix">
                     <h5><span class="left">Tofu Soup</span><span class="right color"> $7.00 </span></h5>
                     </div>
<p>Bean curd soup with scallions and mushrooms. </p>
                <div class="clr"></div>	
                </div>
                </div><!--// .toggle-container end-->
     			</div>
	  </div><!-- // tab-content-4-->
	  
      </div>
        </div>
        </div>
        </div>
</div>	
         
	</div>
</div>           
           <!-- Menu Style Tab Section
====================================-->