<!-- Dishes Section -->
            <section id="proteins" class="proteins">
                <div class="container text-center">
                    <header>
                        <h2>Signature Proteins</h2>
                        <h3>Fresh and healthy food available</h3>
                    </header>
                    <!-- Set up your HTML -->
                    <div class="owl-carousel owl-theme">
                        <!-- item -->
                        <div class="dish">
                            <div class="profile">
                                <img src="img/barbacoa.jpg" class="img-responsive" alt="dish name">
                                <div class="price">
                                    <span>17$</span>
                                </div>
                            </div>
                            <div class="text">
                                <h4>Beef Barbacoa</h4>
                                <p>Amazingly tender shredded beef cooked slowly to retain its full flavor. Great on any burro and torta!</p>
                            </div>
                        </div>

                        <!-- item -->
                        <div class="dish">
                            <div class="profile">
                                <img src="img/carnitas.jpg" class="img-responsive" alt="dish name">
                                <div class="price">
                                    <span>17$</span>
                                </div>
                            </div>
                            <div class="text">
                                <h4>Pork Carnitas</h4>
                                <p>Slow cooked, spicy, shredded pork shoulder, finished in the oven for browning with a slight touch of citrus.</p>
                            </div>
                        </div>

                        <!-- item -->
                        <div class="dish">
                            <div class="profile">
                                <img src="img/tinga.jpg" class="img-responsive" alt="dish name">
                                <div class="price">
                                    <span>17$</span>
                                </div>
                            </div>
                            <div class="text">
                                <h4>Chicken Tinga</h4>
                                <p>Shredded chicken made in a tomato, chipotle, and adobo sauce. Explosion of delicious flavor!</p>
                            </div>
                        </div>

                        <!-- item -->
                        <div class="dish">
                            <div class="profile">
                                <img src="img/grilledchk.jpg" class="img-responsive" alt="dish name">
                                <div class="price">
                                    <span>17$</span>
                                </div>
                            </div>
                            <div class="text">
                                <h4>Grilled Chicken</h4>
                                <p>Fajita seasoned white chicken breast!  These are a favorite on quesadillas, or a Loaded Bowl!</p>
                            </div>
                        </div>

                        <!-- item -->
                        <div class="dish">
                            <div class="profile">
                                <img src="img/philly-steak.jpg" class="img-responsive" alt="dish name">
                                <div class="price">
                                    <span>17$</span>
                                </div>
                            </div>
                            <div class="text">
                                <h4>Steak</h4>
                                <p>Grilled to perfection, Philly style steak.  Try it on a hoagie with extra cheese.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Dishes Section -->